@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@400;600;700&family=Sacramento&family=Work+Sans&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo h1 {
  font-family: 'Alex Brush', cursive;
}

.active{
  color: #ffd321;
}

